<nav class="bg-white shadow-sm border-b border-gray-200 fixed top-0 inset-x-0 z-10">
  <div class="container mx-auto px-5 py-3 flex items-center justify-between">
    <%= link_to t("app.name"), root_path, class: "font-semibold text-lg text-gray-900" %>
    <div class="flex items-center">
      <% if user_signed_in? %>
        <%= link_to t("inspections.navbar.link"), inspections_path, class: "link mr-4" %>
        <%= button_to t("devise.views.links.sign_out"), destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
      <% else %>
        <%= link_to t("devise.views.links.log_in"), new_user_session_path, class: "link" %>
        <%= link_to t("devise.views.links.sign_up"), new_user_registration_path, class: "btn btn-primary ml-4" %>
      <% end %>
    </div>
  </div>
</nav>
