<p><%= t("devise.views.mailers.password_reset.hello", email: @resource.email) %></p>

<p><%= t("devise.views.mailers.password_reset.requested_change") %></p>

<p><%= link_to t("devise.views.mailers.password_reset.change_link"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t("devise.views.mailers.password_reset.ignore_if_not_requested") %></p>
<p><%= t("devise.views.mailers.password_reset.password_wont_change") %></p>
