<%# locals: (inspection:, items_grouped:) %>
<div class="checklist-section">
  <% items_grouped.each do |category_name, items| %>
    <div class="avoid-break category-group">
      <h3 class="category-heading">
        <%= category_name %>
      </h3>

      <% items.each do |inspection_item| %>
        <% checklist_item = inspection_item.checklist_item %>
        <div class="item-row">
          <div class="item-wrapper">
            <div class="item-content">
              <span class="item-name">
                <%= checklist_item.name %>
              </span>

              <% if checklist_item.description.present? %>
                <p class="item-description">
                  <%= checklist_item.description %>
                </p>
              <% end %>

              <% photos = inspection.inspection_photos.where(checklist_item: checklist_item).ordered %>
              <% if photos.any? %>
                <div class="item-photos">
                  <% photos.each do |photo| %>
                    <%= base64_image_tag(photo.photo,
                                          alt: checklist_item.name,
                                          class: "item-photo") %>
                  <% end %>
                </div>
              <% end %>
            </div>

            <div class="item-status">
              <% if inspection_item.ok? %>
                <span class="status-badge status-badge--ok">
                  <%= t("inspection_items.status.ok") %>
                </span>
              <% elsif inspection_item.defect? %>
                <span class="status-badge status-badge--defect">
                  <%= t("inspection_items.status.defect") %>
                </span>
              <% elsif inspection_item.na? %>
                <span class="status-badge status-badge--na">
                  <%= t("inspection_items.status.na") %>
                </span>
              <% end %>
            </div>
          </div>

          <% if inspection_item.defect? && inspection_item.comment.present? %>
            <p class="item-comment">
              <%= inspection_item.comment %>
            </p>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
